<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @rambling.description %>
</p>

<%= link_to 'Edit', edit_rambling_path(@rambling) %> |
<%= link_to 'Back', ramblings_path %>
