<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container">
    <small class="pull-right">Made with <span class="glyphicon glyphicon-heart-empty"></span> in Panama City Beach <span class="glyphicon glyphicon-sun"></span></small>
  </div>
</nav>