<nav class="navbar navbar-fixed-bottom" role="navigation">
  <div class="container">
    <small>Made with <span class="glyphicon glyphicon-heart-empty"></span> in Panama City Beach</small>
  </div>
</nav>